@font-face {
    font-family: 'Caveat';
    src: url('./assets/fonts/Caveat-Regular.woff2') format('woff2'),
        url('./assets/fonts/Caveat-Regular.woff') format('woff');
    font-style: normal;
}

:root {
	--blue: #ccf;
	--green: #cfc;
	--yellow: #ffc;
	--orange: #ffe0c0;
	--red: #fcc;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body, html {
    min-height: -webkit-fill-available;
    overflow-y: visible;
    overflow-x: clip;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
  min-width: 330px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#allContent {
	min-height: calc(100vh - 4rem);
	overflow-y: visible;
	position: relative;

	width: 77.5%;
	margin: 2rem auto;
	border: 3px solid darkgrey;
	border-top: none;
}

#control {
	background-color: darkgray;
	height: 4rem;

	display: grid;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 2rem;
}

#control > nav {
	display: grid;
	grid-template-columns: 0.75fr 1fr;
	gap: 1rem;
}

#control > nav > button {
	display: grid;
	grid-template-columns: 2rem 1fr;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	padding-inline-end: 12px;
}

#control > nav > button > img {
	height: 2rem;
}

button[id$="Close"] > img {
	height: 1rem;
	transform: rotate(45deg);
}

#allTasks {
	padding-inline-start: 0px;
	padding: 1rem 2rem;
}

ul,li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note {
	font-family: "Caveat";
	text-decoration: none;

	background-color: var(--red);
  color: #000;
  height: 12rem;
  aspect-ratio: 1/1;
  padding: 1em;
	margin: 1em;
	box-shadow: 3px 5px 10px rgba(33,33,33,.7);
	transition: transform .15s linear;
}

.note h2 {
	font-weight: bold;
	font-size: 2rem;
}

.note p {
	font-size: 1.3rem;
}

ul .note:nth-child(even){
  transform:rotate(4deg);
  position:relative;
  top:5px;
}
ul .note:nth-child(3n),
ul .note:first-child  {
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
ul .note:nth-child(5n) {
  transform:rotate(5deg);
  position:relative;
  top:-10px;
}

ul .note:hover,
ul .note:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

.pin {
	background: #c26565;
	background: radial-gradient(circle,rgba(194, 101, 101, 1) 0%, rgba(250, 0, 0, 1) 100%);
	aspect-ratio: 1/1;
	height: 0.8rem;
	border-radius: 50%;
	position: absolute;
	align-self: end;
	justify-self: center;
	box-shadow: -2px 1px 3px rgba(0 0 0 / 0.2);
}

fieldset {
	--gap: 9px;
	position: absolute;
	top: 5rem;
	right: -5px;
	border: none;
	margin: 0;
	padding: 0;
	width: 40px;
	
	legend {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0;
	}

	input {
		position: absolute;
		opacity: 0;
		pointer-events: 0;
	}

	label {
		position: relative;
		display: block;
		width: 50px;
		height: 2.25rem;
		background: var(--bg-color);
		margin: var(--gap) 0;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom-left-radius: 2px;
		font-size: 1;
		box-shadow: -2px 1px 3px rgba(0 0 0 / 0.2);
		cursor: pointer;
		transform: translate(0, 0) scaleX(1);
		transform-origin: left center;
		filter: brightness(90%);
		transition-property: transform filter;
		transition-duration: 0.2s;
		transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);

		&:hover {
			transform: translate(0, 0) scaleX(1.25);
		}

		&:after {
			content: "";
			position: absolute;
			top: 100%;
			right: 0;
			width: 0;
			height: 0;
			border-top: 5px solid var(--bg-color);
			border-right: 5px solid transparent;
			border-left: 0px solid transparent;
			border-bottom: 5px solid transparent;
			filter: brightness(62%);
			transition-property: border-right filter;
			transition-duration: 0.2s;
			transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);
		}

		&:hover:after {
			border-right: 12px solid transparent;
		}
	}

	input:checked + label,
	input:focus + label {
		transform: translate(0, 0) scaleX(1.25);
		filter: brightness(100%);

		&:after {
			border-right: 12px solid transparent;
			filter: brightness(50%);
		}
	}

	label:nth-of-type(1) {
		--bg-color: #f3b2af;
	}

	label:nth-of-type(2) {
		--bg-color: #b1f4fd;
	}

	label:nth-of-type(3) {
		--bg-color: #d5fec5;
	}

	label:nth-of-type(4) {
		--bg-color: #feffbe;
	}

	label:nth-of-type(5) {
		--bg-color: #f9d7ac;
	}
}

button[type="submit"] {
	display: grid;
	grid-template-columns: 1fr 2fr
}