@font-face {
    font-family: 'Caveat';
    src: url('./assets/fonts/Caveat-Regular.woff2') format('woff2'),
        url('./assets/fonts/Caveat-Regular.woff') format('woff');
    font-style: normal;
}

:root {
	--minimal: #ccf;
	--low: #cfc;
	--medium: #ffc;
	--high: #ffe0c0;
	--critical: #fcc;

	--note-size: 12rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body, html {
    min-height: -webkit-fill-available;
    overflow-y: visible;
    overflow-x: clip;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
  min-width: 330px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: anywhere;
	line-height: 1.2;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#allContent {
	min-height: calc(100vh - 4rem);
	overflow-y: visible;
	position: relative;

	width: 77.5%;
	margin: 2rem auto;
	border: 3px solid darkgrey;
	border-top: none;
}

#control {
	background-color: darkgray;
	height: 4rem;

	display: grid;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 2rem;
}

#control > nav {
	display: grid;
	grid-template-columns: 0.75fr 1fr;
	gap: 1rem;
}

#control > nav > button {
	display: grid;
	grid-template-columns: 2rem 1fr;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	padding-inline-end: 12px;
}

#control > nav > button > img {
	height: 2rem;
}

button[id$="Close"] > img {
	height: 1rem;
	transform: rotate(45deg);
}

#allTasks {
	padding-inline-start: 0px;
	padding: 1rem 2rem;
}

ul,li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note,
.new {
	font-family: "Caveat";
	text-decoration: none;
	position: relative;
	border: 1px solid #bbb;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  color: #000;
  height: var(--note-size);
  width: var(--note-size);
  padding: 1em;
	margin: 1em;
	transition: transform .15s linear;
}

.new {
	position: absolute;
	box-shadow: none;
	display: flex;
	flex-direction: column;
}

.noteContent {
	display: grid;
	grid-template-rows: auto 1fr;
	z-index: 6;
}

.wrapper {
	position: relative;
	height: var(--note-size);
	width: var(--note-size);
}

.note h2,
.form textarea#title {
	font-weight: bold;
	font-size: 2rem;
}

.note p,
.form textarea#description  {
	font-size: 1.3rem;
}

ul li:nth-child(even){
  transform:rotate(4deg);
  position:relative;
  top:5px;
}
ul li:nth-child(3n),
ul li:first-child  {
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
ul li:nth-child(5n) {
  transform:rotate(5deg);
  position:relative;
  top:-10px;
}

ul li:hover,
ul li:focus{
  box-shadow: 3px 5px 10px rgba(33,33,33,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

.wrapper:hover,
.wrapper:focus {
	box-shadow: none;
}

.pin {
	background: #c26565;
	background: radial-gradient(circle,rgba(194, 101, 101, 1) 0%, rgba(250, 0, 0, 1) 100%);
	aspect-ratio: 1/1;
	height: 0.8rem;
	border-radius: 50%;
	position: absolute;
	align-self: end;
	justify-self: center;
	box-shadow: -2px 1px 3px rgba(0 0 0 / 0.2);
	z-index: 6;
}

.new.minimal {
	transform: rotate(5deg);
	top: 1rem;
	left: 2rem;
}

.new.low {
	transform: rotate(3deg);
	top: -1.5rem;
	left: 1rem;
}

.new.medium {
	transform: rotate(-2deg);
	top: 2rem;
	left: 2rem;
}

.new.high {
	transform: rotate(-7deg);
	top: 1rem;
	left: -1rem;
}

.new.critical {
	transform: rotate(7deg);
	top: -0.5rem;
	left: -1rem;
}

.wrapper:hover #selected {
	transform: translate(0, 0);
}

#selected {
	z-index: 6;
	top: 0rem;
	left: 0rem;
}

.form {
	position: absolute;
	z-index: 6;
	height: calc(var(--note-size)*0.8);
	width: calc(var(--note-size)*0.8);
}

.form textarea {
	border: none;
	background: none;
	caret-color: gray;
	width: 100%;
	field-sizing: content;
	line-height: 1.2;
}

.form textarea::-webkit-resizer {
  display: none;
}
.form textarea::-moz-resizer {
  display: none;
}

.form textarea:active,
.form textarea:focus {
	outline: none;
}

fieldset {
	--gap: 9px;
	position: absolute;
	top: 5rem;
	right: -5px;
	border: none;
	margin: 0;
	padding: 0;
	width: 40px;
	
	legend {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0;
	}

	input {
		position: absolute;
		opacity: 0;
		pointer-events: 0;
	}

	label {
		position: relative;
		display: block;
		width: 50px;
		height: 2.25rem;
		background: var(--bg-color);
		margin: var(--gap) 0;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom-left-radius: 2px;
		font-size: 1;
		box-shadow: -2px 1px 3px rgba(0 0 0 / 0.2);
		cursor: pointer;
		transform: translate(0, 0) scaleX(1);
		transform-origin: left center;
		filter: brightness(90%);
		transition-property: transform filter;
		transition-duration: 0.2s;
		transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);

		&:hover {
			transform: translate(0, 0) scaleX(1.25);
		}

		&:after {
			content: "";
			position: absolute;
			top: 100%;
			right: 0;
			width: 0;
			height: 0;
			border-top: 5px solid var(--bg-color);
			border-right: 5px solid transparent;
			border-left: 0px solid transparent;
			border-bottom: 5px solid transparent;
			filter: brightness(62%);
			transition-property: border-right filter;
			transition-duration: 0.2s;
			transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);
		}

		&:hover:after {
			border-right: 12px solid transparent;
		}
	}

	input:checked + label,
	input:focus + label {
		transform: translate(0, 0) scaleX(1.25);
		filter: brightness(100%);

		&:after {
			border-right: 12px solid transparent;
			filter: brightness(50%);
		}
	}

	label.minimal {
		--bg-color: var(--minimal);
	}

	label.low {
		--bg-color: var(--low);
	}

	label.medium {
		--bg-color: var(--medium);
	}

	label.high {
		--bg-color: var(--high);
	}

	label.critical {
		--bg-color: var(--critical);
	}
}

button[type="submit"] {
	display: grid;
	grid-template-columns: 1fr 2fr
}

.removed {
	display: none !important;
}