@font-face {
    font-family: 'Caveat';
    src: url('./assets/fonts/Caveat-Regular.woff2') format('woff2'),
        url('./assets/fonts/Caveat-Regular.woff') format('woff');
    font-style: normal;
}

:root {
	--minimal: #ccf;
	--low: #cfc;
	--medium: #ffc;
	--high: #ffe0c0;
	--critical: #fcc;

	--note-size: 12rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body, html {
    min-height: -webkit-fill-available;
    overflow-y: visible;
    overflow-x: clip;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
  min-width: 330px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: anywhere;
	line-height: 1.2;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#allContent {
	min-height: calc(100vh - 4rem);
	overflow-y: visible;
	position: relative;

	width: 85%;
	margin: 1.5rem auto;
	border: 3px solid darkgrey;
	border-top: none;
}

#control {
	background-color: darkgray;
	height: 2rem;

	display: grid;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 2rem;
}

#allTasks {
	padding-inline-start: 0px;
	padding: 1.5rem 1rem;
}

ul,li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
	row-gap: 1.5rem;
}

.note,
.newNote {
	font-family: "Caveat";
	text-decoration: none;
	position: relative;
	border: 1px solid #bbb;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  color: #000;
  height: var(--note-size);
  width: var(--note-size);
  padding: 1em;
	margin: 1em;
	transition: transform .15s linear;
}

.newNote, .newProject {
	position: absolute !important;
	box-shadow: none;
}

.noteContent {
	display: grid;
	grid-template-rows: auto 1fr;
	z-index: 6;
}

.projectWrapper {
	position: relative;
	height: 2rem;
	width: 6.5rem;
}

.wrapper {
	padding: 0 10% 0;
	margin-right: 10%;
	height: var(--note-size);
	width: var(--note-size);
}

.note h2,
.form textarea#title {
	font-weight: bold;
	font-size: 2rem;
}

.note p,
.form textarea#description  {
	font-size: 1.3rem;
}

ul li:nth-child(even){
  transform:rotate(4deg);
  position:relative;
  top:5px;
}
ul li:nth-child(3n),
ul li:first-child  {
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
ul li:nth-child(5n) {
  transform:rotate(5deg);
  position:relative;
  top:-10px;
}

ul li:hover,
ul li:focus{
  box-shadow: 3px 5px 10px rgba(33,33,33,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

.wrapper:hover,
.wrapper:focus {
	box-shadow: none;
}

.pin {
	background: #c26565;
	background: radial-gradient(circle,rgba(194, 101, 101, 1) 0%, rgba(250, 0, 0, 1) 100%);
	aspect-ratio: 1/1;
	height: 0.8rem;
	border-radius: 50%;
	position: absolute;
	align-self: end;
	justify-self: center;
	box-shadow: -2px 1px 3px rgba(0 0 0 / 0.2);
	z-index: 6;
}

.newNote.minimal {
	transform: rotate(5deg);
	top: 1rem;
	left: 2rem;
}

.newNote.low {
	transform: rotate(3deg);
	top: -1.5rem;
	left: 1rem;
}

.newNote.medium {
	transform: rotate(-2deg);
	top: 2rem;
	left: 2rem;
}

.newNote.high {
	transform: rotate(-7deg);
	top: 1rem;
	left: -1rem;
}

.newNote.critical {
	transform: rotate(7deg);
	top: -0.5rem;
	left: -1rem;
}

.newNote:hover {
	transform: translate(0, 0);
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);
}

.wrapper:hover #selectedNote, #selectedProject {
	transform: translate(0, 0);
}

#selectedNote, #selectedProject {
	z-index: 6;
	top: 0rem;
	left: 0rem;
}

#selectedProject form {
	height: 2rem;
	width: 6.5rem;
}

.newProject.minimal {
	transform: rotate(5deg);
	top: 0rem;
	left: 2rem;
}

.newProject.low {
	transform: rotate(3deg);
	top: -0.5rem;
	left: 1rem;
}

.newProject.medium {
	transform: rotate(-2deg);
	top: 1rem;
	left: 1rem;
}

.newProject.high {
	transform: rotate(-7deg);
	top: 1rem;
	left: -1rem;
}

.newProject.critical {
	transform: rotate(7deg);
	top: -0.5rem;
	left: -1rem;
}

.form {
	position: absolute;
	z-index: 6;

	height: calc(var(--note-size)*0.8);
	width: calc(var(--note-size)*0.8);
}

.form textarea, textarea#projectTitle {
	border: none;
	background: none;
	padding: 0.1rem 0;
	caret-color: gray;
	width: 100%;
	field-sizing: content;
	line-height: 1.2;
	resize: none;
	align-self: start;
}

#title:not(.removed) + #description {
	margin-top: -0.7rem;
}

.form textarea::-webkit-resizer, 
.form textarea::-moz-resizer,
textarea#projectTitle::-webkit-resizer  {
  display: none;
}

.form textarea:active,
.form textarea:focus,
textarea#projectTitle:active,
textarea#projectTitle:focus {
	outline: none;
}

#submit {
	position: absolute;
	width: 2rem;
	height: 2rem;
	border: none;
	background: none;
	z-index: 7;
	top: -3%;
	left: 40%
}

#submit img {
	width: 2rem;
	height: 2rem;
	transform: rotate(15deg);
}

#submit:hover img {
	transform: rotate(0deg);
}

[data-tooltip]::before {
	position: absolute;
	width: 6rem;
	padding: 0 0 2rem 0.5rem;
	content: attr(data-tooltip);
	text-align: center;
	opacity: 0;
	line-height: 0.8;
	margin-top: -0.5rem;
}

.pin[data-tooltip]::before {
	margin-top: -1rem;
	padding: 0 0 2rem 1rem;
}

[data-tooltip]:hover::before {
	opacity: 1;
}

[data-tooltip]:not([data-tooltip-persistent])::before {
	pointer-events: none;
}

fieldset {
	--gap: 9px;
	position: absolute;
	top: 3rem;
	right: -1.35rem;
	border: none;
	margin: 0;
	padding: 0;
	width: 40px;
	
	legend {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0;
	}

	input {
		position: absolute;
		opacity: 0;
		pointer-events: 0;
	}

	label, .newProject {
		position: relative;
		display: block;
		width: 6.5rem;
		height: 2rem;
		background: var(--bg-color);
		margin: var(--gap) 0;
		border-top-right-radius: 2px;
		border: 1px solid #bbb;
		font-size: 1.3rem;
		font-family: "Caveat";
		font-weight: bold;
		display: flex;
		align-items: center;
		padding-left: 0.25rem;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		cursor: pointer;
		transform: translate(0, 0) scaleX(1.03);
		transform-origin: left center;
		transition-property: transform filter;
		transition-duration: 0.2s;
		transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);

		&:hover {
			transform: translate(0, 0) scaleX(1.1);
		}

		&:not(.newProject):after {
			content: "";
			position: absolute;
			top: 100%;
			right: 0;
			width: 0rem;
			height: 0;
			border-top: 5px solid var(--bg-color);
			border-right: 5px solid transparent;
			border-left: 0px solid transparent;
			border-bottom: 5px solid transparent;
			filter: brightness(62%);
			transition-property: border-right filter;
			transition-duration: 0.2s;
			transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);
		}

		&:not(.newProject):hover:after {
			border-right: 11px solid transparent;
		}
	}

	input:checked + label,
	input:focus + label {
		transform: translate(0, 0) scaleX(1.25);
		filter: brightness(100%);

		&:not(.newProject):after {
			border-right: 20px solid transparent;
			filter: brightness(50%);
		}
	}

	label.minimal {
		--bg-color: var(--minimal);
	}

	label.low {
		--bg-color: var(--low);
	}

	label.medium {
		--bg-color: var(--medium);
	}

	label.high {
		--bg-color: var(--high);
	}

	label.critical {
		--bg-color: var(--critical);
	}
}

.removed {
	display: none !important;
}